<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemType</key>
		<string>1</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
				<key>place</key>
				<string>item的标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>place</key>
				<string>标题字体大小</string>
				<key>subtitle</key>
				<string>17</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
				<key>place</key>
				<string>46，44，47</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
				<key>place</key>
				<string>item的图片</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>place</key>
				<string>图片的宽度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>place</key>
				<string>图片的高度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>2</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
				<key>place</key>
				<string>item的标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>place</key>
				<string>标题字体大小</string>
				<key>subtitle</key>
				<string>17</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
				<key>place</key>
				<string>46，44，47</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
				<key>place</key>
				<string>item的图片</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>place</key>
				<string>图片的宽度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>place</key>
				<string>图片的高度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图右边距</string>
				<key>key</key>
				<string>iconRight</string>
				<key>place</key>
				<string>至右边的距离</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>3</string>
		<key>subType</key>
		<string>1</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
				<key>place</key>
				<string>item的图片</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>place</key>
				<string>图片的宽度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>place</key>
				<string>图片的高度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧图片</string>
				<key>key</key>
				<string>subIcon</string>
				<key>place</key>
				<string>右侧的图片</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>3</string>
		<key>subType</key>
		<string>2</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
				<key>place</key>
				<string>item的图片</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>place</key>
				<string>图片的宽度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>place</key>
				<string>图片的高度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧标题</string>
				<key>key</key>
				<string>rightText</string>
				<key>place</key>
				<string>右侧的文字</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>3</string>
		<key>subType</key>
		<string>3</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
				<key>place</key>
				<string>item的标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>place</key>
				<string>标题字体大小</string>
				<key>subtitle</key>
				<string>17</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
				<key>place</key>
				<string>46，44，47</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧图片</string>
				<key>key</key>
				<string>subIcon</string>
				<key>place</key>
				<string>右侧的图片</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>3</string>
		<key>subType</key>
		<string>4</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
				<key>place</key>
				<string>item的标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>place</key>
				<string>标题字体大小</string>
				<key>subtitle</key>
				<string>17</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
				<key>place</key>
				<string>46，44，47</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧标题</string>
				<key>key</key>
				<string>rightText</string>
				<key>place</key>
				<string>右侧的文字</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>4</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
				<key>place</key>
				<string>item的标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>place</key>
				<string>标题字体大小</string>
				<key>subtitle</key>
				<string>17</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
				<key>place</key>
				<string>46，44，47</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
				<key>place</key>
				<string>item的子标题</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
				<key>place</key>
				<string>127，127，127</string>
			</dict>
			<dict>
				<key>title</key>
				<string>居右显示</string>
				<key>key</key>
				<string>sectionRight</string>
				<key>subtitle</key>
				<string>不显示</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>place</key>
				<string>255，255，255</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
				<key>place</key>
				<string>item的图片</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>place</key>
				<string>图片的宽度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>place</key>
				<string>图片的高度</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>比例</string>
				<key>key</key>
				<string>viewScale</string>
				<key>place</key>
				<string>宽度占比(0-1)</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
