<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemType</key>
		<string>1</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>2</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图右边距</string>
				<key>key</key>
				<string>iconRight</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>3</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧标题</string>
				<key>key</key>
				<string>rightText</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>右侧图片</string>
				<key>key</key>
				<string>subIcon</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemType</key>
		<string>4</string>
		<key>names</key>
		<array>
			<dict>
				<key>title</key>
				<string>标题</string>
				<key>key</key>
				<string>title</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题字号</string>
				<key>key</key>
				<string>titleFont</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>标题色</string>
				<key>key</key>
				<string>titleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题</string>
				<key>key</key>
				<string>subtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>子标题色</string>
				<key>key</key>
				<string>subtitleColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>背景色</string>
				<key>key</key>
				<string>backgroundColor</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片</string>
				<key>key</key>
				<string>icon</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图宽</string>
				<key>key</key>
				<string>iconWidth</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>图高</string>
				<key>key</key>
				<string>iconHeight</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
			<dict>
				<key>title</key>
				<string>比例</string>
				<key>key</key>
				<string>viewScale</string>
				<key>keyboard</key>
				<string>number</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
